.container2 {
  display: flex;
  flex-direction: column;
  gap: 24px;

  max-width: 700px;
  margin: 40px auto;

  background-color: #111;
  padding: 28px;
  border-radius: 18px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}
