
.input {
  width: 100%;
  padding: 10px 12px;

  background-color: #1f2023;
  color: #fff;

  border: 1px solid #3a3d42;
  border-radius: 10px;

  outline: none;
}

.input:focus {
  border-color: #6c7cff;
}

.button {
  padding: 10px 18px;
  border-radius: 99px;
  border: none;

  background-color: #ffffff;
  color: #000;
  font-weight: 600;

  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #dcdcdc;
}
